<!-- router outlet component route üzerinde componentlerin çalışmanısı sağlayan bir angular componenttir -->

<!-- componentlerimiz bu router-outlet içerisine girip çıkarlar -->

<!-- layout tüm sayfalarımızı kapsayan sayfa -->

<!-- matdrawer ile yana doğru açılır menu yaptık -->

<mat-drawer-container [ngStyle]="{'min-height':'100%'}"  [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'push'" opened>

    <!-- yan menu -->
  
     <app-side-menu></app-side-menu>

  </mat-drawer>
  <mat-drawer-content >

    <!--  mat-drawer-content içerik alanı -->
    <!-- yan menunun yanındaki context tüm sayfaların içeriği burada bulunur -->


    <app-header [drawerState]="drawer.opened" (drawerStateChanged)="drawer.toggle()"></app-header>


    <div style="padding: 1rem;">
      <!-- route göre değişen sayfalarımız -->
      <router-outlet></router-outlet> 
    </div>


    <app-footer></app-footer>

  </mat-drawer-content>
</mat-drawer-container>

