

<p>
    <b>Name:</b> <span> {{user?.name}}</span>
</p>


<p>
    <b>UserName:</b> <span> {{user?.username}}</span>
</p>


<p>
    <b>Email:</b> <span> {{user?.email}}</span>
</p>



<p>
    <b>Address:</b> <span> {{user?.address?.street}} </span>
    <br>
    <b>ZipCode:</b> <span> {{user?.address?.zipcode}} </span>
    <br>
    <b>City:</b> <span> {{user?.address?.city}} </span>
</p>


<p>
    <b>Phone:</b> <span> {{user?.phone}} </span>
</p>

<p>
    <b>Website:</b> <span> {{user?.website}} </span>
</p>

<p>
    <b>Company:</b> <span> {{user?.company?.name}} </span>
</p>

